<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="../../src/">
</head>
 <div style="text-align: left;"><img src="/assets/klu-logo.jpg" width="100" alt="collage logo/poster" /></div>
 <h2><center>Collage Name<br>Confrence Name<br></center></h2>
<div class="nav">
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="/View/Registration.html">Register</a></li>
        <li><a href="#">History</a></li>
        <li><a href="/view/cop.html">Call for papers</a></li>
        <li><a href="/view/schedule.html">Program Schedule</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="/View/login.html">Login</a></li>
      </ul>
    </nav>
  </div>
  <!--Main page from here...-->
<body>
  <center>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br><br>

    <button type="submit" onclick="">Login</button>
   
  </div>
  <span class="psw">Forgot <a href="#">password?</a></span>
</center>

<!--Tailwind Navbar-->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Features</a>
              <a class="nav-item nav-link" href="#">Pricing</a>
              <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</body>
  

</html>