<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="Registration.css">

    <link rel="stylesheet" href="../../src/index.css">
  </head>
   <div style="text-align: left;"><img src="/assets/klu-logo.jpg" width="100" alt="collage logo/poster" /></div>
   <h2><center>Collage Name<br>Confrence Name<br></center></h2>
  <div class="nav">
      <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="/View/Registration.html">Register</a></li>
            <li><a href="#">History</a></li>
            <li><a href="/view/cop.html">Call for papers</a></li>
            <li><a href="/view/schedule.html">Program Schedule</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="/View/login.html">Login</a></li>
        </ul>
      </nav>
    </div>

    <body class="col-lg-12 col-md-12">
        <center>
            <hr>
            <h2>Indian Authors</h2>
                                                              
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" style="text-align:center;background-color:cyan;" >Indian Authors</th>
                <th scope="col" style="text-align:center;background-color:cyan;">IEEE Members<br>(Rs.)</th>
                <th scope="col" style="text-align:center;background-color:cyan;">Non IEEE Members<br>(Rs.)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Students</th>
                <td style="text-align:center;"> INR</td>
                <td style="text-align:center;"> INR</td>
              </tr>
              <tr>
                <th scope="row">Faculty &amp; Research Scholars</th>
                <td style="text-align:center;"> INR</td>
                <td style="text-align:center;"> INR</td>
              </tr>
              <tr>
                <th scope="row">Delegates from Industry</th>
                <td style="text-align:center;"> INR</td>
                <td style="text-align:center;"> INR</td> 
              </tr>
              <tr>
                <th scope="row">Listener/Second Author</th>
                <td style="text-align:center;"> INR</td>
                <td style="text-align:center;"> INR</td> 
              </tr>
              </tbody>
          </table>
          <p align="center" style="color:#000000;">* For every additional pages __ INR is chargeable</p><br>
          <hr>
          <h2>Foreign Authors</h2>
           <div class="course-teacher">
                
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" style="text-align:center;background-color:cyan;">Foreign Authors</th>
                <th scope="col" style="text-align:center;background-color:cyan;">IEEE Members<br>(USD.)</th>
                <th scope="col" style="text-align:center;background-color:cyan;">Non IEEE Members<br>(USD.)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Students</th>
                <td style="text-align:center;"> USD</td>
                <td style="text-align:center;"> USD</td>
              </tr>
              <tr>
                <th scope="row">Faculty &amp; Research Scholars</th>
                <td style="text-align:center;"> USD</td>
                <td style="text-align:center;"> USD</td>
              </tr>
              <tr>
                <th scope="row">Delegates from Industry</th>
                <td style="text-align:center;"> USD</td>
                <td style="text-align:center;"> USD</td> 
              </tr>
              <tr>
                <th scope="row">Listener/Second Author</th>
                <td style="text-align:center;"> USD</td>
                <td style="text-align:center;"> USD</td> 
              </tr>
              </tbody>
          </table>
           <p align="center" style="color:#000000;">* For every additional pages __ USD is chargeable</p>
          <br>
             </div>  
             <hr>
             <h2>Payment Details</h2>
               <table>
                <tc style="text-align: center; display:block;">
                    Account Details:<br>Account Number:  987654345678<br>IFSC CODE:  ABCD12345<br>Branch Name:  KLUNIVERSITY<br>
                </tc>
                <tc style="text-align: center; display:block;">
                    Online Payment:
                    <button>Pay Now</button>
                </tc>
               </table>
                                        </center>
                                          
    </body>