.Home-page{
  color:red;
  text-align: center;
  background-color: lightblue;
  padding:20px;
}
ul{
  display: inline-flex;
}

li{
  list-style-type:none;
  clear:both;
  padding:10px;
  padding-right:20px;
}
